.contacts {
    height: auto;
    position: relative;
    background-color: var(--color-accent);
    padding-bottom: 2rem;

    @media screen and (max-width: 1366px){
        height: 90vh;
        //padding-bottom: 4rem;
    }

    @media screen and (max-width: 1024px){
        height: auto;
        //padding-bottom: 4rem;
    }
    
    @media screen and (max-width: 768px){
        height: auto;
    }

    
    &__container { 
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        @media screen and (max-width: 1366px){
            margin-top: 2rem;
        }
        
        &_submit , &_socials {
            height: 35rem; 
            padding: 1rem 0;
            
            padding: 2rem 3rem;
        }
        
        &_submit { 
            background-color: var(--color-neutral);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-end;
            width: 60%;
            //box-shadow: 5px 5px 30px 20px var(--color-dark);
            
            &-subtittle {
                font-size: 36px;
                color: var(--color-dark);
                font-family: var(--font-family);
                padding: 0 2rem;
            }
            
            &--form {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                
                
                &-name, &-mail, &-field {
                    font-size: 20px;
                    padding: 1rem;
                    font-family: var(--font-family);
                    width: 500px;
                    margin: .5rem;
                    border-radius: 20px;
                    font-weight: 600;
                    
                    &::placeholder {
                        //color: var(--color-accent);
                        //opacity: 70%;
                    }
                    
                }
                
                &-button {
                    padding: .5rem .7rem;
                    margin: 1rem;
                    width: 6.5rem;
                    font-size: 20px;
                    border-radius: 30px;
                    border: none;
                    background-color: var(--color-light);
                    cursor: pointer;
                    color: var(--color-dark);
                    font-family: var(--font-family);
                    font-weight: 400;
                    box-shadow: 3px 7px 10px var(--color-accent);
                    
                    &:hover {
                        animation: rotate 0.7s ease-in-out both;
                    }
                }   
                
                &-done {
                    display: flex;
                    align-items: center;
                }
            }
        }
        
        &_socials {
            background-color: var(--color-dark);
            display:flex;
            width: 30%;
            //box-shadow: 5px 5px 20px 5px var(--color-neutral);

            &-info { 
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 3;
                
                p {
                    color: var(--color-light);
                    font-family: var(--font-family);
                    font-size: 22px;
                    display: flex;
                    align-items: center;
                    margin: 1rem 0;
                    
                    span {
                        padding-right: .5rem
                    };
                }
            }
            
            
            &-links{
                flex: 1;
                padding-top: 2rem;
            }
        }

        @media screen and (max-width: 1366px){
            &_submit {
                height: 30rem;
            }
            &_socials {
                height: 30rem;
                &-info {
                    flex-direction: row;
                    padding-top: 3rem;
                    padding-right: 2rem;
                    & p {
                        writing-mode: tb-rl;
                        padding-right: .5rem;
                        & span{
                            padding: 0 0 1rem 0;
                        }
                    }
                }
                &-links{
                    padding: 0;
                }
            }
        }
        
        @media screen and (max-width: 1024px){
            flex-direction: column;
            position: relative;
            justify-content: flex-start;
            margin-bottom: 2rem;
            
            &_submit {
                width: 80%;
            }
            
            &_socials {
                height: 7rem;
                width: 100%;
                //position: relative;
                //box-shadow: 2px 2px 20px 10px var(--color-dark);
                
                &-info {
                    padding: 0;
                    & p {
                        writing-mode: horizontal-tb;
                    }
                }
                
                &-links {
                    position: absolute;
                    top: 0;
                    right: 0rem;
                    
                }
            }
        }

        @media screen and (max-width: 768px){
            padding-top: 3rem;
            
            &_submit {
                padding: 1rem 1rem;
                height: 100%;
                width: 70%;

                &-subtittle {
                    font-size: 20px;
                    padding: 0 1rem;
                }

                &--form {
                    &-name, &-mail, &-field {
                        font-size: 12px;
                        width: 200px;
                        padding: .5rem;
                    }

                    &-button {
                        padding: .5rem .5rem;
                        margin: .5rem;
                        width: 5rem;
                        font-size: 12px;
                    }
                }

            }
            &_socials {
                width: 70%;
                height: 9rem;

                &-info {
                    flex-direction: column;

                    p {
                        font-size: 10px;
                        margin: 0;

                        span {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

}

.result-text {
    color: var(--color-dark);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;

    @media screen and (max-width: 768px){
        font-size: 10px;
    }
}

