.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--color-accent);

    
    &__box{
        display: flex;
        flex-wrap: wrap;
        background-color: var(--color-light);
        filter: brightness(90%);
        //box-shadow: 5px 5px 30px 10px var(--color-dark);
        font-size: 30px;
        font-weight: 500;
        color: var(--color-dark);
        margin: 1rem 0;
        padding: 2rem 2rem;
        position: relative;
        
        &_info {
            flex: 3;
            text-align: start;
            text-align: justify;
            padding: 4rem 2rem 4rem 4rem;
        }
        
        &_image {
            flex: 1;
            text-align: center;
            
            img {
                height: 600px;
                padding: 3rem 3rem 3rem 1rem;
            }
        }
        
        &_skills {
            flex: 1;
            padding: 4rem 1rem;
            
            &-container {
                text-align: start;
            }
            
        } 
    }
    
    ul {
        list-style-type: none;
    }

    @media (max-width: 1536px){

        &__box {
            font-size: 20px;
            padding: .5rem 0.5rem;

            &_info {
                flex: 3;
            }
            &_skills {
                flex: 1;
            }
        }
    }

    @media screen and (max-width: 1366px){
        height: auto;
    
        &__box {
            font-size: 24px;
            margin-top: 2rem;
            padding: 2rem 4rem;

            &_info, &_skills{
                padding: 2rem 1rem;
            }

            &_info {
                flex: 3;
                min-width: 400px;
            }
            &_skills {
                flex: 1;
            }
            
            &_image {   
                img {
                    height: 450px;
                    padding: 2rem 2rem;
                }
            }
        }
    }

    @media screen and (max-width: 1024px){
        height: auto;

        &__box {
            font-size: 18px;
            &_image {
                flex: 1;
                text-align: center;
                
                img {
                    height: 350px;
                    padding: 2rem 1rem 1rem 1rem;
                }
            }

            &_info {
                min-width: 350px;
            }
        }
    }

    @media screen and (max-width: 768px){
        height: 100%;

        &__box {
            font-size: 1rem;

            &_info, &_skills{
                padding: 1rem .5rem;
            }
            
            &_info {
                flex: 2;
                padding-right: 1rem;
                min-width: 300px;
            }

            &_image {
                height: 100%;
                img {
                    padding: 0 1rem;
                    height: 250px;
                }
            }
        }
    }

    @media screen and (max-width: 600px){
        &__box {
            flex-wrap: wrap;
            padding: 2rem 2rem;
            &_info {
                min-width: 250px;
            }

            &_image {
                img {
                    padding: 0;
                }
            }
        }
    }
}

