.navigation {
    position: fixed;
    top: 45%;
    left: 10px;
    width: 50px;

    &__list{
        display: flex;
        justify-content: center;
        flex-direction: column;

        &_item {
            display: block;

            a {
                display: block;
                position: relative;
                z-index: 1;
                height: 10px;
                width: 30px;
                cursor: pointer;
                text-decoration: none;
                margin: 1rem;
                background-color: var(--color-bright);
                border-radius: 30px;
                //box-shadow: 2px 3px 5px var(--color-dark);

                &:hover {
                    background-color: var(--color-dark);
                    box-shadow: 0 5px 10px var(--color-bright);
                    
                    .navigation__list_item-popup {
                        visibility: visible;
                        transform: translateX(37%);
                        transition: transform 1s cubic-bezier(0.58,-0.78, 0, 1.79);
                    }
                }
            }
            
            &-popup {
                visibility: hidden;
                position: relative;
                font-family: var(--font-family);
                font-size: 20px;
                top: -7px;
                height: 25px;
                width: 90px;
                text-align: center;
                border-radius: 30px;
                box-shadow: 0 5px 10px var(--color-bright);
                background-color: var(--color-dark);
                color: var(--color-neutral);
                transition: transform 1s cubic-bezier(0.58,-0.78, 0, 1.79);
            }
        }
    }

    @media screen and (max-width: 768px){
        top: 2px;
        width: auto;
        left: 50%;
        right: 50%;

        
        &__list {
            flex-direction: row;

            &_item {
                &-popup {
                    top: 0;
                    left: -25px;
                }

                a {
                    &:hover {
                        .navigation__list_item-popup {
                            transform: translateY(70%);
                        }
                    }
                }
            }
        }
    }
}
