.page {

    &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
    filter: brightness(120%);
    box-shadow: 0 1px 30px 5px var(--color-dark);
    padding: 1.5rem 15rem;
    
        &-links {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;

            &_logo{
                margin-right: 2rem;
                display: flex;

                & img{
                    height: 40px;
                    
                }
            }

            &_container {
                display: flex;
                flex-direction: row;
                //margin-right: 4rem;

                & p {
                    color: var(--color-light);
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 25px;
                    text-transform: capitalize;
                    margin: 0 1rem;
                    cursor: pointer;

                    &:hover {
                        font-weight: 600;
                        font-size: 28px;
                        text-shadow: 6px 6px 6px var(--color-bright);
                    }
                }
            }
        }

        &-menu {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 0;
            right: 0;
            visibility: hidden;
            
            & svg {
                cursor: pointer;
                //margin: 1rem;
            }
            
            &_container {
                background: var(--color-bright);
                backdrop-filter: blur(5px);
                margin-top: 5px;
                margin-right: 20%;
                padding: 2rem;
                box-shadow: 5px 5px 30px 10px var(--color-dark);

                & p {
                    color: var(--color-dark);
                    font-family: var(--font-family);
                    font-weight: 800;
                    font-size: 20px;
                    cursor: pointer;
                    padding: 1rem;

                    & a {
                        text-transform: uppercase;
                    }
                }
            }
        }

    }
}
@media screen and (max-width: 1366px){
    .page {
        &__navbar {
            padding: 1.5rem 7rem;
        }
    }
}

@media screen and (max-width: 1024px){
    .page {
        &__navbar {
            padding: 1rem 5rem;

            &-links {
                &_container {
                    & p {
                        font-size: 20px;
                    }
                }
            };
        }
    }
}

@media screen and (max-width: 768px){
    .page {
        &__navbar {
            padding: 1rem 2rem;

            &-links{
                &_container {
                    display: none;
                }
            }
            &-menu {
                display: flex;
                visibility: visible;
                padding: 1rem 1.7rem;
                
                &_container {
                    margin-right: 40%;
                    margin-top: 0;
                    padding: 3rem;
                }

                & svg {
                    
                }
            }
        }
    }   
}

@media screen and (max-width: 600px){
    .page {
        &__navbar {
            height: auto;
            padding: 3rem 2rem 1rem 1rem;
            
            &-links {
                justify-content: center;
                    &_logo {
                        margin: 0;
                    }
            }

            &-menu {
                padding: 3rem 1.5rem;
            }
        }
    }    
} 
