.page {
    

    &__header {
        display: flex;
        flex-wrap: wrap;
        background-image: url(../../assets/bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 95vh;

        &-content {
            flex: 4;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &_text{
                color: var(--color-text);
                font-family: var(--font-family);

                &-intro {
                    font-size: 3rem;
                    font-weight: 200;
                }

                &-main {
                    font-family: var(--font-family);
                    font-size: 10rem;
                    letter-spacing: 3px;
                    font-weight: 600;
                    padding: 1rem 0;
                }

                &-description {
                    font-size: 3rem;
                    font-weight: 100;
                    color: var(--color-subtext);
                }
            }

            &_button {
                padding: 1rem 2rem;
                width: 20rem;
                margin: 3rem 0;
                font-size: 2rem;
                border-radius: 30px;
                border: none;
                background-color: rgba(54, 23, 45, 0.6);
                cursor: pointer;
                color: var(--color-subtext);
                font-family: var(--font-family);
                font-weight: 100;
                box-shadow: 3px 7px 10px #4b14f6;

                &:hover {
                    animation: rotate 0.7s ease-in-out both;
                }
            }
        }

        &-image {
            flex: 2;

            img {
                //border: white solid 3px;
                border-radius: 30%;

            }
        }

    }
}

