.footer {
    background-color: var(--color-dark);
    filter: brightness(140%);
    height: auto;
    font-family: var(--font-family);
    color: var(--color-neutral);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //filter: drop-shadow(0 -10px 10px var(--color-bright));

    &__up {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 1rem 5rem;

        &-logo {
            padding-left: 2rem;
            height: 100%;

            & img {
                display: block;
                margin: 0 auto;
            }
        }

        &-nav {
            display: flex;
            justify-content: space-evenly;
            width: 40%;
            float: right;

            p {
                font-size: 24px;
                font-weight: 400;

                &:hover {
                    font-weight: 400;
                    font-size: 26px;
                    text-shadow: 6px 6px 6px var(--color-bright);
                }
            }
        }
    }

    &__down {
        text-align: center;
        background-color: var(--color-dark);
        filter: brightness(70%);
        padding: 1rem;

        p {
            font-size: 18px;
            letter-spacing: .3rem;
            color: var(--color-light);
        }
    }

    @media screen and (max-width: 1366px){
        height: 16vh;
    }
    
    @media screen and (max-width: 1024px){
        height: auto;
        //filter: drop-shadow(0 -5px 10px var(--color-bright));
        &__up {
            padding: .5rem 2rem;
            &-nav{
                width: 70%;
                padding: .5rem 5rem;
                & p{
                    font-size: 18px;
                }
            }
            &-logo{
                & img {
                    height: 45px;
                }
            }
        }
    }

    @media screen and (max-width: 768px){
        height: auto;
        &__up {
            padding: .5rem;
            &-nav{
                width: 60%;
                & p{
                    font-size: 14px;
                }
            }
            &-logo{
                padding-left: 1rem;
                    & img {
                        height: 20px;
                    }
            }
        }

        &__down {
            p {
                font-size: 14px;
            }
        }
    }
} 